EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_TIMEOUT=20
EMAIL_HOST_USER=aarohiwaves36@gmail.com
EMAIL_HOST_PASSWORD=hhbx loih kfhr oijp
DEFAULT_FROM_EMAIL=aarohiwaves36@gmail.com
SERVER_EMAIL=aarohiwaves36@gmail.com

