EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_TIMEOUT=20
EMAIL_HOST_USER=sreethikaradhakrishnan03@gmail.com
EMAIL_HOST_PASSWORD=chnk mqnh xlqi bfeh
DEFAULT_FROM_EMAIL=sreethikaradhakrishnan03@gmail.com
SERVER_EMAIL=alerts@your-domain.com
